
.navbar{
    
    padding-bottom: 40px;
    padding-top: 20px;
}
  
.nav-item{
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.container{
    font-family: 'Libre Baskerville', serif;
    font-family: 'Merriweather', serif;
}
.skills{
    display: flex;
    justify-content: center;
    padding-top: 20px;
   
}



